@charset "utf-8";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  height: 270px;
  margin: 0 auto;
  padding: 0.4%;
}

a {
  text-decoration: none;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  font-size: 14px;
  margin-left: 30px;
}

#header li a {
  color: black;
}

#header li img.icon {
  width: 20px;
}

li {
  list-style: none;
}

#mainvisual {
  margin-bottom: 60px;
}

#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}

.group {
  max-width: 960px;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 100px
}

.big-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 60px;
}

#about ul {
  margin-bottom: 30px;
}


#about li:first-child {
  margin-bottom: 30px;
}

#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#works li {
  width: 30%;
  margin-bottom: 24px;
}

img {
  max-width: 100%;
}

.box-1{
  display: flex;
  border-bottom: solid 1px silver;
}

.box-2{
  display: flex;
  border-bottom: solid 1px silver;
}

.box-3{
  display: flex;
  border-bottom: solid 1px silver;
}

.box-4{
  display: flex;
  border-bottom: solid 1px silver;
}

.box-5{
  display: flex;
  border-bottom: solid 1px silver;
}

#news dl {
  border-top: solid 1px silver;
  margin-bottom: 25px;
}

#news dt {
  width: 20%;
  padding: 15px;
}

#news dd {
  width: 80%;
  padding: 15px;
}

#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
}

#contact dd {
  width: 85%;
  margin-bottom: 10px;
}

#contact dd input {
  width: 100%;
  border: solid 1px silver;
  padding: 10px;
}

#contact dd input {
  border: solid 1px silver;
  width: 100%;
  padding: 10px;
}

#contact dd textarea {
  border: solid 1px silver;
  height: 70px;
  width: 100%;
  padding: 10px;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  width: 200px;
  background: black;
  color: white;
  padding: 15px 0;
  border: solid 1px black;
  margin-bottom: 150px;
}

footer {
  background: black;
  color: white;
  font-size: 8px;
  padding: 10px 20px;
  text-align: center;
}

@media(max-width:400px){
  #works ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  #works ul li{
    width: 100%;
  }

  #works ul li img{
    width: 100%;
  }

  #mainvisual img{
    height: 200px;
  }
}
